{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
  <header class="text-center" style="margin-top:95px;">
    <h1>Olvido su contraseña?</h1>
    <p>Ingrese su correo para realizar el procedimiento de una nueva.</p>
  </header>
  <div class="card" style="width:25rem;margin:65px auto;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4 mt-3">Social tech <span class="text-danger">&hearts;</span></h5>
      <form>
        {% csrf_token %}
        <div class="form-group">
          <label>email</label>
          {{ form.email | attr:"class:form-control" | attr:"placeholder:ejemplo@hotmail.com" }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          <i class="fa fa-lock"></i> Enviar correo
        </button><hr>
        <a href="/account/login" class="float-left">Iniciar sesion</a>
        <a href="/account/signup" class="float-right">Registrarse</a>
      </form>
    </div>
  </div>
{% endblock %}