{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="card" style="width: 25rem;margin:85px auto;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4 mt-3">Social tech <span class="text-danger">&hearts;</span></h5>
      <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>nombre</label>
            {{form.first_name|attr:"class:form-control"}}
          </div>
          <div class="form-group">
            <label>apellido</label>
            {{form.last_name|attr:"class:form-control"}}
          </div>
          <div class="form-group">
            <label>email</label>
            {{form.email|attr:"class:form-control"|attr:"placeholder:ejemplo@hotmail.com"}}
            {% for error in form.email.errors %}<p class="text-danger">{{error}}</p>{% endfor %}
          </div>
          <div class="form-group">
            <label>contraseña</label>
            {{form.password1|attr:"class:form-control"|attr:"placeholder:contraseña"|attr:"minlength:8"}}
            {% for error in form.password1.errors %}<p class="text-danger">{{error}}</p>{% endfor %}
          </div>
        <button type="submit" class="btn btn-outline-primary btn-block mt-4"><i class="fa fa-edit"></i> Registrarse
        </button><hr>
        <a class="float-left" href="/account/login">Iniciar sesion</a>
        <a class="float-right" href="/account/password/reset">Recuperar contraseña</a>
      </form>
    </div>
  </div>
{% endblock %}